@model List<Game>
@{
    ViewData["Title"] = "Home Page";
}



@* localization *@
@* <div class="text-center">
    <h1> @ViewBag.aha</h1>
</div> *@

@if (!Model.Any()) {
    <div class="alert alert-warning mt-5">
    <h4 class="alert-heading">No Games!</h4>
    <p class="mb-0">No Games Added yet.</p>
    </div>
}

else
{
    <div class="row mt-5">
        @foreach(var game in Model)
        {
            <div class="col-lg-4 col-md-6">
                <a class="card border-secondary mb-3 text-decoration-none rounded-3 overflow-hidden" asp-controller="Games" asp-action="Details" asp-route-id="@game.ID">
                    <div class="card-body" style="background-image:url(@(game.Cover)); background-size:cover; background-position:center; height:400px">
                        <div class="h-100 d-flex align-items-end fs-3 ">
                            <span class="badge bg-secondary">@game.Category.Name</span>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center text-muted">
                        <h5>@game.Name</h5>
                        <div>
                            @foreach(var icon in game.GameDevices)
                            {
                                <i class="@icon.Device.Icon me-2 fs-4"></i>
                            }
                        </div>
                    </div>
                </a>
            </div>

        }
    </div>
}

